include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include valid_drug_molecule_generator/*

include valid_drug_molecule_generator/datasets/training_data.csv
include valid_drug_molecule_generator/datasets/validation_data.csv
include valid_drug_molecule_generator/trained_models/*pkl
include valid_drug_molecule_generator/VERSION
include ./requirements.txt
exclude *.log
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
