tensorflow==2.13.0
pandas==2.2.0
numpy==1.24.3
scikit-learn==1.4.2
setuptools==68.2.2
wheel==0.42.0
pytest==8.1.1
mlflow==2.12.1
fastapi<0.110.2
uvicorn==0.29.0
pydantic==1.10.15
gunicorn==21.2.0
scipy==1.13.0